# COPY THIS FILE TO THE /home/pi/ directory, then edit! cp .env_sample ~/.env
SLACK_API_TOKEN = "YOURSUPERREALTOKEN"  # Replace with your actual token
SLACK_USER_ID = "DEFINITELYAUSERID"  # Replace with your Slack user ID (find in Slack profile)
SLACK_SIGNING_SECRET = "OHYEAHASIGNEDSECRETBABBEEE" # Can be used instead of token for better security.
SLACK_CLIENT_SECRET = "MYCLIENTASKSTHISSTAYSCONFIDENTIAL" # What ^ she ^ said.

LAST_FM_API_KEY = "OHYEAHIMAREALAPIKEYNOWDAD"
LAST_FM_SECRET = "USETHEREALONE"  # Not required for read-only use
LAST_FM_USERNAME = "YOURLASTFMUSERNAME"  # Your Last.fm username (not email)