/* static/style.css */

body {
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('/static/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.content {
    padding: 2.5rem 3rem;
    width: 100%;
}

.font-rakkas {
    font-family: 'Rakkas', serif;
}

.font-arvo {
    font-family: 'Arvo', serif;
}

.emoji-img {
    display: inline-block;
    vertical-align: middle;
    height: 3.75rem; /* matches text-6xl */
    width: 3.75rem;
}
